@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Urbanist:wght@200;400&display=swap');


:root {
    --main-color: #66B4EF;
    --navbar-color: #9EDDFF;
    --title-color: #ffff;

    --title-font: 'Lilita One', sans-serif;
    --text-font: 'Urbanist', sans-serif;
}

body{
    font-family: var(--text-font);
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--main-color);
    display: grid;
    align-items: center;
    height: 30vh;
    text-align: center;
    font-family: var(--title-font);
    color: var(--title-color);
}

header h1{
    margin: 0;
    font-size: 5rem;
}
nav{
    padding: 5px;
    text-align: right;
    background-color: #A6F6FF;
    box-shadow: 2px 2px lightblue;

}
a{
    padding: .5%;
}

.omv {
    
    margin-left: 15%;
    margin-right: 15%;
}
.omv div{
    background-color: rgb(243, 243, 243);
}

.omv h2 {   
    text-align: center;
    background-color: #A6F6FF;
    margin-left: 0%;
    margin-right: 0%;
    box-shadow: 2px 2px lightblue;
}
.omv h4 {
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    padding-bottom: 20px;
}